# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AlfaFoodBack.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\lizas\RiderProjects\AlfaFoodBack\.idea\.idea.AlfaFoodBack\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
