.guest-navbar {
  &__container {
    width: 100%;

    border-bottom: 1px solid black;
  }
  &__wrapper {
    padding: 10px 0;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &__auth-link {
    color: black;
    font-size: 16px;
    &--active {
      color: red;
    }
    &:nth-child(1) {
      padding-right: 10px;
      border-right: 1px solid black;
    }
    &:nth-child(2) {
      padding-left: 10px;
    }
  }


  &__left {
    display: flex;
    align-items: center;
  }

}
