

.establishments {
  &__content {

    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;
  }
  &__container {

    //background: #66afe9;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  &__list {
    padding-bottom: 50px;
    border-right: 1px solid black;
  }
}

.establishments-list {
  &__title {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.establishment-item {
  &__wrapper {
    padding: 12px 20px;
  }
  &__name {
    font-size: 16px;
    font-weight: 500;
  }
  &__link {
    color: black;
    &:hover {
      color: green;
    }
    &--active {
      color: red;
      font-weight: 600;
    }
  }
}


.add-establishment {
  &__wrapper {
    cursor: pointer;
    text-align: center;
    width: 180px;
    padding: 10px 6px;
    background: #66afe9;
  }
}


